# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

TODO.md
HOWTO.md
Makefile

build*/
bin/
lib/
include/

tools/kaldi
tools/libcppa
tools/graphviz

egs/data/aurora4
egs/models/wsj
egs/models/hub4
egs/models/icsi
egs/case1/baseline/*.hyp
egs/case1/baseline/*.tra
egs/case1/baseline/*.wer
egs/case1/baseline/*.log
egs/case1/benchmark/*.hyp
egs/case1/benchmark/*.tra
egs/case1/benchmark/*.wer
egs/case1/benchmark/*.log
egs/case2/*.hyp
egs/case2/*.tra
egs/case2/log
egs/demo/*.txt
egs/demo/log
egs/feat/*.txt
egs/feat/log
egs/live/*.hyp
